In [1]:
import pandas as pd
import numpy as np
import os, time, stat, io
from scipy.stats import gamma, norm
from sklearn.linear_model import LinearRegression

import matplotlib.pyplot as plt
import matplotlib as mpl
plt.style.use('fivethirtyeight')
import plotly.graph_objects as go

%load_ext autoreload
%autoreload 2
from covid_data_helper import *
from coronita_chart_helper import *
from coronita_model_helper import *

from matplotlib.backends.backend_pdf import PdfPages

In [7]:
df_nyny_raw = pd.read_csv('https://visitdata.org/data/NewYork_NewYork.csv', parse_dates=['date'])
df_nyny_raw.head()

,date,state,county,categoryid,categoryname,demo,visits,avgDuration,p50Duration
0,2020-02-01,New York,New York,4bf58dd8d48988d100951735,Pet Stores,Above65,348.0,37.0,NaN
1,2020-02-01,New York,New York,4bf58dd8d48988d100951735,Pet Stores,All,9326.0,52.0,15.0
2,2020-02-01,New York,New York,4bf58dd8d48988d100951735,Pet Stores,Below65,8978.0,53.0,NaN
3,2020-02-01,New York,New York,4bf58dd8d48988d101951735,Thrift / Vintage Stores,Above65,285.0,38.0,NaN
4,2020-02-01,New York,New York,4bf58dd8d48988d101951735,Thrift / Vintage Stores,All,9535.0,31.0,15.0

In [11]:
df_nyny = df_nyny_raw.copy()
df_nyny = df_nyny.set_index(['date','state','county','categoryname','demo'])
df_nyny

                                                                            categoryid  \
date       state    county   categoryname            demo
2020-02-01 New York New York Pet Stores              Above65  4bf58dd8d48988d100951735
                                                     All      4bf58dd8d48988d100951735
                                                     Below65  4bf58dd8d48988d100951735
                             Thrift / Vintage Stores Above65  4bf58dd8d48988d101951735
                                                     All      4bf58dd8d48988d101951735
...                                                                                ...
2020-05-18 New York New York Sports                  All                         Group
                                                     Below65                     Group
                             Travel & Transport      Above65                     Group
                                                     All                         Group
                                                     Below65                     Group

                                                                visits  \
date       state    county   categoryname            demo
2020-02-01 New York New York Pet Stores              Above65     348.0
                                                     All        9326.0
                                                     Below65    8978.0
                             Thrift / Vintage Stores Above65     285.0
                                                     All        9535.0
...                                                                ...
2020-05-18 New York New York Sports                  All       30970.0
                                                     Below65   29996.0
                             Travel & Transport      Above65    2559.0
                                                     All      122610.0
                                                     Below65  120051.0

                                                              avgDuration  \
date       state    county   categoryname            demo
2020-02-01 New York New York Pet Stores              Above65         37.0
                                                     All             52.0
                                                     Below65         53.0
                             Thrift / Vintage Stores Above65         38.0
                                                     All             31.0
...                                                                   ...
2020-05-18 New York New York Sports                  All             36.0
                                                     Below65         37.0
                             Travel & Transport      Above65         64.0
                                                     All             86.0
                                                     Below65         87.0

                                                              p50Duration
date       state    county   categoryname            demo
2020-02-01 New York New York Pet Stores              Above65          NaN
                                                     All             15.0
                                                     Below65          NaN
                             Thrift / Vintage Stores Above65          NaN
                                                     All             15.0
...                                                                   ...
2020-05-18 New York New York Sports                  All             10.0
                                                     Below65          NaN
                             Travel & Transport      Above65          NaN
                                                     All             16.0
                                                     Below65          NaN

[36861 rows x 4 columns]

In [12]:
df_nyny.categoryid.unique()

array(['4bf58dd8d48988d100951735', '4bf58dd8d48988d101951735',
       '4bf58dd8d48988d102941735', '4bf58dd8d48988d103951735',
       '4bf58dd8d48988d104941735', '4bf58dd8d48988d104951735',
       '4bf58dd8d48988d106951735', '4bf58dd8d48988d107951735',
       '4bf58dd8d48988d108951735', '4bf58dd8d48988d10a951735',
       '4bf58dd8d48988d10c941735', '4bf58dd8d48988d10c951735',
       '4bf58dd8d48988d10e941735', '4bf58dd8d48988d10f941735',
       '4bf58dd8d48988d10f951735', '4bf58dd8d48988d110941735',
       '4bf58dd8d48988d110951735', '4bf58dd8d48988d111941735',
       '4bf58dd8d48988d111951735', '4bf58dd8d48988d112941735',
       '4bf58dd8d48988d112951735', '4bf58dd8d48988d113941735',
       '4bf58dd8d48988d113951735', '4bf58dd8d48988d114951735',
       '4bf58dd8d48988d116941735', '4bf58dd8d48988d117951735',
       '4bf58dd8d48988d118941735', '4bf58dd8d48988d118951735',
       '4bf58dd8d48988d119951735', '4bf58dd8d48988d11b941735',
       '4bf58dd8d48988d11d941735', '4bf58dd8d48988d11e941735',
       '4bf58dd8d48988d11f941735', '4bf58dd8d48988d120951735',
       '4bf58dd8d48988d121941735', '4bf58dd8d48988d122951735',
       '4bf58dd8d48988d123941735', '4bf58dd8d48988d124941735',
       '4bf58dd8d48988d125941735', '4bf58dd8d48988d126941735',
       '4bf58dd8d48988d127951735', '4bf58dd8d48988d128951735',
       '4bf58dd8d48988d129951735', '4bf58dd8d48988d12d941735',
       '4bf58dd8d48988d12d951735', '4bf58dd8d48988d12f941735',
       '4bf58dd8d48988d130941735', '4bf58dd8d48988d132941735',
       '4bf58dd8d48988d134941735', '4bf58dd8d48988d137941735',
       '4bf58dd8d48988d13b941735', '4bf58dd8d48988d13d941735',
       '4bf58dd8d48988d142941735', '4bf58dd8d48988d143941735',
       '4bf58dd8d48988d145941735', '4bf58dd8d48988d146941735',
       '4bf58dd8d48988d147941735', '4bf58dd8d48988d148941735',
       '4bf58dd8d48988d149941735', '4bf58dd8d48988d14a941735',
       '4bf58dd8d48988d14e941735', '4bf58dd8d48988d150941735',
       '4bf58dd8d48988d151941735', '4bf58dd8d48988d155941735',
       '4bf58dd8d48988d157941735', '4bf58dd8d48988d15a941735',
       '4bf58dd8d48988d162941735', '4bf58dd8d48988d163941735',
       '4bf58dd8d48988d164941735', '4bf58dd8d48988d165941735',
       '4bf58dd8d48988d16a941735', '4bf58dd8d48988d16c941735',
       '4bf58dd8d48988d16d941735', '4bf58dd8d48988d16e941735',
       '4bf58dd8d48988d171941735', '4bf58dd8d48988d172941735',
       '4bf58dd8d48988d174941735', '4bf58dd8d48988d175941735',
       '4bf58dd8d48988d176941735', '4bf58dd8d48988d177941735',
       '4bf58dd8d48988d178941735', '4bf58dd8d48988d179941735',
       '4bf58dd8d48988d17f941735', '4bf58dd8d48988d181941735',
       '4bf58dd8d48988d18b941735', '4bf58dd8d48988d18f941735',
       '4bf58dd8d48988d190941735', '4bf58dd8d48988d191941735',
       '4bf58dd8d48988d196941735', '4bf58dd8d48988d198941735',
       '4bf58dd8d48988d1ae941735', '4bf58dd8d48988d1b3941735',
       '4bf58dd8d48988d1bd941735', '4bf58dd8d48988d1be941735',
       '4bf58dd8d48988d1c0941735', '4bf58dd8d48988d1c1941735',
       '4bf58dd8d48988d1c4941735', '4bf58dd8d48988d1c5941735',
       '4bf58dd8d48988d1c9941735', '4bf58dd8d48988d1ca941735',
       '4bf58dd8d48988d1cb941735', '4bf58dd8d48988d1cc941735',
       '4bf58dd8d48988d1ce941735', '4bf58dd8d48988d1d0941735',
       '4bf58dd8d48988d1d1941735', '4bf58dd8d48988d1d2941735',
       '4bf58dd8d48988d1d3941735', '4bf58dd8d48988d1d4941735',
       '4bf58dd8d48988d1d5941735', '4bf58dd8d48988d1d8941735',
       '4bf58dd8d48988d1db931735', '4bf58dd8d48988d1dc931735',
       '4bf58dd8d48988d1df931735', '4bf58dd8d48988d1df941735',
       '4bf58dd8d48988d1e0931735', '4bf58dd8d48988d1e2931735',
       '4bf58dd8d48988d1e5931735', '4bf58dd8d48988d1e5941735',
       '4bf58dd8d48988d1e7941735', '4bf58dd8d48988d1e9931735',
       '4bf58dd8d48988d1ed941735', '4bf58dd8d48988d1f1931735',
       '4bf58dd8d48988d1f2931735', '4bf58dd8d48988d1f2941735',
       '4bf58dd8d48988d1f3941735', '4bf58dd8d48988d1f5931735',
       '4bf58dd8d48988d1f5941735', '4bf58dd8d48988d1f6941735',
       '4bf58dd8d48988d1f8941735', '4bf58dd8d48988d1fa931735',
       '4bf58dd8d48988d1fa941735', '4bf58dd8d48988d1fc941735',
       '4bf58dd8d48988d1fd931735', '4bf58dd8d48988d1fd941735',
       '4bf58dd8d48988d1fe931735', '4bf58dd8d48988d1ff931735',
       '4bf58dd8d48988d1ff941735', '4c38df4de52ce0d596b336e1',
       '4d4ae6fc7a7b7dea34424761', '4d954b06a243a5684965b473',
       '4d954b0ea243a5684a65b473', '4e4c9077bd41f78e849722f9',
       '4e74f6cabd41c4836eac4c31', '4f04aa0c2fb6e1c99f3db0b8',
       '4f2a210c4b9023bd5841ed28', '4f4533804b9074f6e4fb0105',
       '5032792091d4c4b30a586d5c', '50328a8e91d4c4b30a586d6c',
       '507c8c4091d498d9fc8c67a9', '50be8ee891d4fa8dcc7199a7',
       '52e81612bcbc57f1066b7a06', '52e81612bcbc57f1066b7a0c',
       '52e81612bcbc57f1066b7a25', '52e81612bcbc57f1066b7a35',
       '52e81612bcbc57f1066b7a3d', '52f2ab2ebcbc57f1066b8b42',
       '52f2ab2ebcbc57f1066b8b46', '52f2ab2ebcbc57f1066b8b49',
       '52f2ab2ebcbc57f1066b8b4f', '54541900498ea6ccd0202697',
       '55a59bace4b013909087cb24', '5642206c498e4bfca532186c',
       '56aa371be4b08b9a8d573532', '56aa371ce4b08b9a8d57356c', 'Group',
       '4bf58dd8d48988d120941735', '4bf58dd8d48988d135941735',
       '4bf58dd8d48988d1e7931735', '4bf58dd8d48988d121951735',
       '4bf58dd8d48988d12b941735', '4bf58dd8d48988d12b951735',
       '4bf58dd8d48988d12c951735', '4bf58dd8d48988d197941735',
       '4bf58dd8d48988d19b941735', '4bf58dd8d48988d1a6941735',
       '4bf58dd8d48988d1a7941735', '4bf58dd8d48988d1a8941735',
       '4bf58dd8d48988d1ab941735', '503287a291d4c4b30a586d65',
       '50aaa4314b90af0d42d5de10', '52dea92d3cf9994f4e043dbb',
       '52f2ab2ebcbc57f1066b8b1f', '52f2ab2ebcbc57f1066b8b4a',
       '54f4ba06498e2cf5561da814', '5744ccdfe4b0c0459246b4af',
       '4bf58dd8d48988d12e941735', '4bf58dd8d48988d153941735',
       '4bf58dd8d48988d1a1941735', '4bf58dd8d48988d1a3941735',
       '52e81612bcbc57f1066b7a33', '52e81612bcbc57f1066b7a31',
       '52e81612bcbc57f1066b7a34', '56aa371be4b08b9a8d573517',
       '4bf58dd8d48988d154941735', '4bf58dd8d48988d117941735',
       '4bf58dd8d48988d14f941735', '4bf58dd8d48988d15f941735',
       '52e81612bcbc57f1066b79ed', '4bf58dd8d48988d115951735',
       '4bf58dd8d48988d128941735', '4bf58dd8d48988d127941735',
       '4bf58dd8d48988d1e0941735', '4bf58dd8d48988d1ef941735',
       '4f04af1f2fb6e1c99f3db0bb', '5bae9231bedf3950379f89d4',
       '4bf58dd8d48988d186941735', '4bf58dd8d48988d199941735',
       '58daa1558bbb0b01f18ec1f7', '4bf58dd8d48988d102951735',
       '4bf58dd8d48988d1f7941735', '52f2ab2ebcbc57f1066b8b1b',
       '4bf58dd8d48988d161941735', '4deefb944765f83613cdba6e',
       '52f2ab2ebcbc57f1066b8b4c', '4bf58dd8d48988d17e941735',
       '4bf58dd8d48988d139941735', '4bf58dd8d48988d18e941735',
       '56aa371be4b08b9a8d573547', '4bf58dd8d48988d1f6931735',
       '4bf58dd8d48988d1f9941735', '4bf58dd8d48988d144941735',
       '4bf58dd8d48988d1e1941735', '4d954af4a243a5684765b473',
       '4bf58dd8d48988d159941735', '4bf58dd8d48988d1e8941735'],
      dtype=object)